record(waveform, "$(NAME)") {
  field(DESC, "$(DESC=$(PARAM))")
  field(DTYP, "Param $(IMPL=Vector) In")
  field(INP , "@$(TBL).$(PARAM)")
  field(PINI, "$(PINI=RUN)")
  field(SCAN, "$(SCAN=I/O Intr)")
  field(FTVL, "$(FTVL)")
  field(NELM, "$(NELM)")
  field(EGU,  "$(EGU=)")
  field(PREC, "$(PREC=)")
}
